*{
    margin: 0;
    padding: 0;  
}


.component-courses-tabs-container{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}
.component-courses-tabs-btn{
    color: black !important;
    background-color: #F9F9F9 !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    text-transform: uppercase !important;
    border: 1px solid #E0E0E0 !important;
    margin-right: 20px !important;
    margin-top: 20px !important;
}


@media screen and (max-width:900px) {
    .component-courses-tabs-container{
        width: 95%;
        margin: auto;
        
    }
    .page-courses-tabs-container{
        width: 90%;
        margin: auto;
    }
}