*{
    margin: 0;
    padding: 0;
}

.achieve-your-goal-container{
    margin-top: 40px;
    margin-bottom: 40px;
    
}

.acieve-your-goal-content-wrapper{
    width: 85%;
    margin: auto;
}
.achieve-your-goal-left-div-upper >img{
    width: 100%;
}

.achieve-your-goal-right-div-container{
    height: 35rem;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.achieve-your-goal-right-div {
    margin-left: 20px;
}
.achieve-your-goal-right-div >h1{
    font-size: 35px;
    font-weight: 620;
    margin-bottom: 30px;
    
}
.achieve-your-goal-right-div >p{
    font-size: 17px;
    word-spacing: 1px;
    line-height: 26.5px;
    
}

.achieve-ticks-section-container-upper{
    margin-top: 25px;
}
.achieve-ticke-section-content-wrapper-upper{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 15px;
    
}
.achieve-ticke-section-content-wrapper-upper >img{
    margin-right: 8px;
}



@media screen and (max-width:900px) {
    .acieve-your-goal-content-wrapper{
        width: 95%;
        margin: auto;
    }
    .achieve-your-goal-right-div-container{
        height: auto;
        
        display: flex;
        align-items: center;
        justify-content: center;
        
    }   
}

@media screen and (max-width:1200px) {
    .achieve-your-goal-right-div-container{
        height: 24rem;
        display: flex;
        align-items: center;
        justify-content: center;
        
        
    }
    .achieve-your-goal-right-div >h1{
        font-size: 30px;
        margin-bottom: 12px;
    }
    .achieve-your-goal-right-div >p{
        font-size: 16px;
        word-spacing: 0.5px;
        
        
    }
    .achieve-ticke-section-content-wrapper-upper{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 8px;
        
    }
    
}

/* why chose me */

.why-chose-me-content-wrapper{
    width: 85%;
    margin: auto;
}
.why-chose-me-img-container >img{
    width: 100%;
}
.why-chose-me-left-content-container-c{
    height: 40rem !important;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
.why-chose-me-tick-content-wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
}
.why-chose-me-tick-content-wrapper >img{
    margin-right: 8px;
}
.why-chose-me-left-div{
    margin-right: 20px;
}
.why-chose-me-left-div >h1{
    font-size: 35px;
    font-weight: 650;
    margin-bottom: 25px;
    width: 70%;
}
.why-chose-me-left-div >p{
    font-size: 17px;
    width: 90%;
    font-weight: 400;
    margin-bottom: 25px;
}





@media screen and (max-width:900px) {
    .why-chose-me-content-wrapper{
        width: 95%;
        margin: auto;
    }  
    .why-chose-me-left-div >h1{
        font-size: 35px;
        font-weight: 650;
        margin-bottom: 20px;
        width: 90%;
    } 
    .why-chose-me-left-div >p{
        font-size: 17px;
        width: 90%;
        font-weight: 400;
    }
}



@media screen and (max-width:1200px) {
    .why-chose-me-left-content-container-c{
        height: 30rem !important;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    
    }
    .why-chose-me-left-div >h1{
        font-size: 28px;
        font-weight: 650;
        margin-bottom: 20px;
        width: 90%;
    }
    .why-chose-me-left-div >p{
        font-size: 16px;
        width: 90%;
        font-weight: 400;
        margin-bottom: 20px;
    }
    .why-chose-me-tick-content-wrapper{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 10px;
    }
    .why-chose-me-content-wrapper{
        width: 95%;
        margin: auto;
    }
    .why-chose-me-tick-content-wrapper >p{
        font-size: 15px;
    }
}

@media screen and (max-width:1300px) {
    .why-chose-me-left-content-container-c{
        height: 30rem !important;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    
    }
}


/* our vission */

.our-vision-content-wrapper{
    width: 85%;
    margin: auto;

}
.over-vision-left-div{
    height: 35rem;
    
    display: flex;
    align-items: center;
    
}
.over-vision-left-div >img{
    width: 100%;
    transform: translateX(150px);
}

.over-vision-right-div-container{
    background-color: #6c0740;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35rem;
    border-radius: 10px;
    padding-right: 20px;
}
.over-vision-right-div{
    margin-left: 25%;
    color: white;
}
.over-vision-right-div >h3{
    font-size: 25px;
    font-weight: 450;
    margin-bottom: 10px;
}
.over-vision-right-div >h1{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 20px;
}
.over-vision-right-div >p{
    font-size: 17px;
    margin-bottom: 20px;
}
.our-vision-tick-section-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 15px;
}
.our-vision-tick-section-content-wrapper >img{
    margin-right: 8px;
}



@media screen and (max-width:900px) {
    .our-vision-content-wrapper{
        width: 95%;
        margin: auto;
    
    }
    .over-vision-left-div{
        height: auto;
        display: flex;
        align-items: center;
        
    }
    .over-vision-right-div-container{
        background-color: #6c0740;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: auto;
        border-radius: 10px;
        padding-top: 25px;
        padding-bottom: 25px;
        
    }
    .over-vision-left-div >img{
        width: 100%;
        transform: translateX(0px) !important;
    }
    
    .over-vision-right-div{
        margin-left: 2%;
        color: white;
    }
}



@media screen and (max-width:1100px) {
    .over-vision-right-div >h3{
        font-size: 18px;
        font-weight: 450;
    }
    .over-vision-right-div >h1{
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    .over-vision-right-div >p{
        font-size: 16px;
        margin-bottom: 20px;
    }
    .over-vision-left-div >img{
        width: 100%;
        transform: translateX(50px) ;
    }
}

@media screen and (max-width:1200px) {
    .over-vision-left-div >img{
        width: 100%;
        transform: translateX(120px) ;
    }
}
@media screen and (max-width:1280px) {
    .over-vision-left-div >img{
        width: 100%;
        transform: translateX(100px) ;
    }
}





/* our mission   */


 .our-mission-container{
    margin-top: 60px;
    width: 85%;
    margin: auto;
}
.about-us-over-mission-heading {
    padding: 20px 0px;
}
.about-us-over-mission-heading >h1{
    font-size: 35px;
    font-weight: 500;
    text-transform: uppercase;

}
.about-us-over-mission-heading >p{
    color: #757575;
    margin-top: 15px;
    width: 50%;
    margin-bottom: 20px;
}
.about-us-our-mission-card-container{
    padding: 40px 0px;
    border-bottom: 1px solid lightgray;
}
.abou-us-ouver-mission-inner-heading{
    padding-bottom: 5px;
}
.abou-us-ouver-mission-inner-heading >p{
    font-size: 28px;
    font-weight: 500;
    padding-right: 30%;
    text-transform: uppercase;
}
.abou-us-ouver-mission-inner-description >P{
    font-size: 18px;
    padding-right: 30%;
    color: #757575;
}

@media screen and (max-width:960px) {
    .our-mission-container{
        margin-top: 28px;
        width: 85%;
        margin: auto;
    } 
    .about-us-over-mission-heading >p{
        color: #757575;
        margin-top: 15px;
        width: 95%;
        margin-bottom: 20px;
    }  
    .abou-us-ouver-mission-inner-heading >p{
        font-size: 28px;
        font-weight: 500;
        padding-right: 3%;
        text-transform: uppercase;
    }
    .abou-us-ouver-mission-inner-description >P{
        font-size: 18px;
        padding-right: 3%;
        color: #757575;
    }
} 