*{
    margin: 0;
    padding: 0;  
}

.tutor-profile-contact-edit-dialog-contact-container{
    border-bottom: 2px solid #E5E5E5;
    padding-bottom: 20px;
    padding-top: 0px;
    
}

.tutor-profile-contact-edit-dialog-contact-container >p{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
}

.tutor-profile-contact-edit-dialog-contact-container-chat{
    border-bottom: 2px solid #E5E5E5;
    padding-bottom: 20px;
    padding-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center
    
    
}

.tutor-profile-contact-edit-dialog-contact-container-chat >p{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    
}

.tutor-profile-edit-contact-dialog-content-wrapper{
    padding: 35px 25px;
}
.first-tutor-panel-edit-contact-text-field-container >p{
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}
.first-tutor-panel-edit-contact-text-field-container >input{
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    width: 96%;
    margin-top: 12px;

}
.first-tutor-panel-edit-contact-text-field-container >input:focus{
    outline: none !important;
}
.first-tutor-panel-edit-contact-phone-no-field-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    width: 96%;
    margin-top: 12px;
}
.first-tutor-panel-edit-contact-phone-no-field-left-side-div{
    border: none ;
    border-right: 1px solid #E5E5E5;
    padding: 10px;
    width: 30px;
    
}
.first-tutor-panel-edit-contact-phone-no-field-left-side-div:focus{
    outline: none !important;
    
}
.first-tutor-panel-edit-contact-phone-no-field-right-side-div{
    padding: 10px;
    padding: 10px;
    border: none !important
}
.first-tutor-panel-edit-contact-phone-no-field-right-side-div:hover{
    outline: none !important;
}
.first-tutor-panel-edit-contact-text-field-container >textarea{
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    width: 96%;
    margin-top: 12px;
    height: 6rem;
    resize: vertical;
}
.first-tutor-panel-edit-contact-text-field-container >textarea:focus{
    outline: none;
}
.first-tutor-panel-profile-dialog-select-container{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 2px;
    border: 1px solid lightgray;
    background-color: lightblue;
    padding-left: 20px;
    padding-right: 20px;
    height: 10rem;
    overflow: scroll;
}


/* chat box */

.first-tutor-chat-inbox-add-grp-dialog-container{
    display: flex;
    align-items: center;

}
.first-tutor-chat-inbox-add-grp-dialog-container >input{
    margin-right: 15px;
}
.first-tutor-chat-inbox-add-grp-dialog-container >input:active{
    outline: #76AC2D;
    background-color: #76AC2D;
}
.first-tutor-chat-inbox-add-grp-dialog-container >p{
    margin-left: 15px;
    font-weight: 550;
    font-size: 17px;
    text-transform: capitalize;
}
.first-upload-grp-pic:hover{
    cursor: pointer;
}
.first-tutor-chat-inbox-add-grp-dialog-upload-img-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 0px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
}
.first-upload-grp-input-field-container{
    width: 80%;
    margin-left: 20px;
}
.first-upload-grp-input-field-container >input{
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    border: none;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
}
.first-upload-grp-input-field-container >input:focus{
    outline: none;
}