*{
    margin: 0;
    padding: 0;
}
.tutor-total-earing-card-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #FFEFE3;
    padding: 25px;
    border-radius: 10px;
}
.tutor-total-earing-card-icon-container{
    margin-right: 30px;
}
.tutor-total-earing-card-text-container >h4{
    color: #9D4300;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.tutor-total-earing-card-text-container >p{
    font-weight: 500;
}


/* total booking */

.tutor-total-booking-card-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #FBDCFF;
    padding: 25px;
    border-radius: 10px;
}
.tutor-total-booking-card-icon-container{
    margin-right: 30px;
}
.tutor-total-booking-card-text-container >h4{
    color: #690077;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.tutor-total-booking-card-text-container >p{
    font-weight: 500;
}


/* upcomming card style */

.tutor-upcomming-card-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
}
.tutor-upcomming-card-left-container h4{
    color: white;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}
.tutor-upcomming-card-left-container p{
    color: white;
    font-size: 13px;
    
    text-transform: capitalize;
}

.tutor-upcomming-card-text-container >p{
    font-weight: 300;
    color: white;
    font-size: 14px;
}

/* math */

.tutor-upcomming-math-card-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EFEFEF;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}
.tutor-upcomming-math-card-left-container h4{
    color: black;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}
.tutor-upcomming-math-card-left-container p{
    color: black;
    font-size: 13px;
    opacity: 0.5;
    text-transform: capitalize;
}

.tutor-upcomming-card-math-text-container >p{
    font-weight: 200;
    color: black;
    font-size: 14px;
}


/* courses mini card */

.tutor-courses-card-container{
    padding: 20px 20px;
    border: 1px solid #E0E0E0;
    height: auto;
    border-radius: 5px;
}
.tutor-courses-card-img{
    width: 100%;
    height: 200px;
    border-radius: 10px;

}
.tutor-courses-card-title{
    font-size: 20px;
    font-weight: 500px;
    line-height: 32px;
    margin-top: 20px;
    text-transform: capitalize;
}
.tutor-courses-card-description{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    font-size: 18px;

}
.tutor-courses-card-description >p{
    color: gray;
    margin-left: 15px;
}
.tutor-courses-card-actions-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 22px;

}
.tutor-courses-card-price-btrn{
    background-color: #76AC2D !important;
    color: white !important;
    text-transform: capitalize;
    font-size: 18px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    font-size: 16px !important;
    
}
.tutor-courses-card-know-more-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black !important;
    text-transform: capitalize !important;
    text-decoration: none;
}
.tutor-courses-card-know-more-btn >p {
    font-size: 16px;
    margin-right: 20px;
}
.tutor-courses-card-know-more-btn >img{
    width: 22px;
}
.first-tutor-panel-course-module-time-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 40px;
    margin-bottom: 20px;
    padding-left: 3%;
}
.first-tutor-panel-course-module-time-container >p{
    background-color:#EFEFEF ;
    padding: 7px;
    margin-right: 15px;
    border-radius: 4px;
}


@media screen and (max-width:960px){
    
    .tutor-courses-card-container{
        padding: 40px;
        border: 1px solid #E0E0E0;
        height: auto;
        border-radius: 5px;
    }
    .tutor-courses-card-actions-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        
    }
    .tutor-courses-card-price-btrn{
        background-color: #76AC2D !important;
        color: white !important;
        text-transform: capitalize;
        font-size: larger !important;
        width: 100%;
        
    }
    .tutor-courses-card-know-more-btn{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: black !important;
        text-transform: capitalize !important;
        margin-top: 30px !important;
    }
    .first-tutor-panel-course-module-time-container{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        padding: 0px 20px;
        padding-left: 1%;

    }
    .first-tutor-panel-course-module-time-container >p{
        background-color:#EFEFEF ;
        padding: 7px;
        margin-right: 15px;
        border-radius: 4px;
        margin-top: 10px;
        width: 70%;
        text-align: center;
        
    }
}


/* course module */


.first-tutor-panel-course-module-card-container{
    border: 2px solid #E5E5E5;
    background-color: white;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 20px;

}
.first-tutor-panel-course-module-card-expended-btn-container{
    border-bottom: 2px solid #E5E5E5;
    padding: 5px;
    
}
.first-tutor-panel-course-module-card-expended-btn-container >button{
    background-color: white !important;
    font-size: 16px;
    font-weight: 450;
    text-transform: capitalize;
    border: none !important;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.first-tutor-panel-course-module-card-expended-btn-container >button:hover{
    cursor: pointer;
}
.first-tutor-panel-course-maodule-card-modules-container{
    padding: 10px;
}
.first-tutor-panel-course-maodule-card-modules-container >li{
    margin-top: 13px;
    font-size: 17px;
    text-transform: capitalize;
    
}
.first-tutor-panel-course-maodule-card-modules-container >li::before{
    font-weight: bold;
    content: '';
      display: inline-block;
      font-weight: bold;
      
      width: 5px;
    
}

/* package card style */

.MyCoursesDetialPackageOne-container{
    margin-top: 12px;
}
.first-tutor-panel-courses-detail-package-card-container{
    border: 2px solid #E5E5E5;
    padding: 20px 40px;
    border-radius: 5px;
    background-color: white;
}
.first-tutor-panel-courses-detail-package-card-upper-heading-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.first-tutor-panel-courses-detail-package-card-upper-heading-left-side-div >h4{
    font-size: 17px;
    font-weight: 580;
    text-transform: uppercase;
    margin-bottom: 8px;
}
.first-tutor-panel-courses-detail-package-card-upper-heading-left-side-div >p{
    font-size: 14px;
    color: #76AC2D;
    text-transform: capitalize;
}
.first-tutor-panel-courses-detail-package-card-upper-heading-right-side-div{
    padding-right: 20px;
}
.first-tutor-panel-courses-detail-package-card-upper-heading-right-side-div >p{
    font-size: 17px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 8px;
}
.first-tutor-panel-courses-detail-package-card-upper-heading-right-side-div >button{
    background-color: #76AC2D;
    color: white;
    padding: 10px 40px;
    text-transform: uppercase;
    border: none !important;
    text-align: center;
    font-size: 16px;

}
.first-tutor-panel-courses-detail-package-card-package-description-container >p{
    line-height: 25px;
    font-size: 15px;
    word-spacing: 1px;
    text-transform: capitalize;
}
.first-tutor-panel-courses-detail-package-card-package-terms-conditions-container{
    margin-top: 25px;

}
.first-tutor-courses-detail-package-card-terms-btn{
    padding-bottom: 2px;
    color: gray;
}

@media screen and (max-width:900px) {
    .first-tutor-panel-courses-detail-package-card-upper-heading-container{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 10px;
    }
    .first-tutor-panel-courses-detail-package-card-upper-heading-right-side-div{
        
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

    }
    .first-tutor-panel-courses-detail-package-card-upper-heading-right-side-div >p{
        font-size: 17px;
        font-weight: 600;
        text-transform: capitalize;
        margin-bottom: 8px;
        
    }
    .first-tutor-panel-courses-detail-package-card-upper-heading-right-side-div >button{
        background-color: #76AC2D;
        color: white;
        padding: 10px 30px;
        text-transform: uppercase;
        border: none !important;
        text-align: center;
        font-size: 16px;
        text-align: center;
        
    }
}



/* bank card   */

.visa-card-add-card-container{
    background-color: white;
}
.visa-card-add-card-header--{
    padding: 10px 10px;
    border-bottom: 2px solid #E5E5E5;
}
.visa-card-add-card-header-- >p{
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
}
.visa-card-add-card-body-content-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    padding: 5px 10px;
}

.visa-card-add-card-body-content-left-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.visa-card-add-card-body-content-left-div >p{
    padding-left: 10px;
    padding-right: 10px;
}
.visa-card-logo-continer{
    width: 40px;
   
}
.visa-card-logo-continer >img{
    width: 100%;
}
.visa-card-add-card-body-content-center-div{
    text-transform: capitalize;
}
.visa-card-add-card-body-content-right-div{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.visa-card-add-card-body-content-right-div >p{
    padding-left: 10px;
}
.visa-card-add-card-footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 23px 10px;
    border-top: 2px solid #E5E5E5;
    
}
.visa-card-add-card-footer-container >button{
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    text-transform: uppercase;
    border: none !important;
    font-size: 13px;
    
}
.visa-card-add-card-footer-container >button:hover{
    cursor: pointer;
}

.withdraw-money-card-footer-container--{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    border-top: 2px solid #E5E5E5;
}
.withdraw-money-card-footer-text-container-- >p{
    margin-top: 5px;
    font-size: 14px;
    color: gray;
    text-transform: capitalize;
}
.withdraw-money-card-footer-withdraw-money-btn-- >button{
    background-color: #76AC2D;
        color: white;
        padding: 10px 20px;
        text-transform: capitalize;
        border: none !important;
        text-align: center;
        font-size: 13px;
        text-align: center;
        border-radius: 4px;
}