*{
    margin: 0;
    padding: 0;
}

.deal-card-container{
    height: 16rem;
    background-repeat: no-repeat;
    background-size: 100% 100% ;
    
    background-position: center;
    padding: 10px 30px;
    height: 330px;

}
.deal-card-content-wrapper{
    padding: 10px 20px;
    
}
.deal-card-secondary-heading{
    font-size: 36px;
    font-weight: 400;
    line-height: 49px;
    
}
.deal-card-primary-heading{
    font-size: 36px;
    font-weight: 500;
    line-height: 49px; 
}
.deal-card-description{
    color: gray;
    width: 40%;
    margin-bottom: 30px;
    font-size: 18px;
    margin-top: 10px;
}
.deal-card-prshase-btn{
    background-color: black !important;
    color: white !important;
    padding-left: 28px !important;
    padding-right:28px !important;
    border-radius: 4px;
    margin-top: 1px !important;
    text-transform: uppercase !important;
    font-size: 18px !important;

}
.deal-card-term-btn{
    color: black !important;
    margin-top: 10px;
}


@media screen and (max-width:960px){
    .deal-card-container{
        height: auto;
        background-repeat: no-repeat;
        background-size: 100% 100% ;
        background-position: center;
        padding: 10px 30px;
    
    }
    .deal-card-description{
        color: gray;
        width: 100%;
        margin-bottom: 15px;
    }
    
    .deal-card-primary-heading{
        font-size: 30px;
        font-weight: 400;
        line-height: 38px; 
    }
    .deal-card-secondary-heading{
        font-size: 30px;
        font-weight: 400;
        line-height: 38px;
        
    }
}