*{
    margin: 0;
    padding: 0;
}

.footer-component-container{
    margin-top: 30px;
    height: 420px !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);

        
}
.footer-component-content-wrapper{
    width: 85%;
    margin: auto;
    height: 420px;

}
.footer-component-upper-content{
    padding-top: 60px;
    
}
.footer-component-inner-content-wrapper{
    padding-top: 20px;

}
.footer-component-heading-div >img{
    color: white;
    
}
.footer-component-list-items-div{
    margin-top: 40px;
    color: white;
    font-size: 18px;
    line-height: 25.5px;
}
.footer-component-heading-div >p{
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
}
.footer-links{
    color: white !important;
    margin-top: 10px !important;
}
.footer-component-lower-content{
    background-color: #6c0740;
}
.footer-component-lower-content-container{
    width: 85%;
    padding: 7px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin: auto;
    
}
.footer-social-icons-container{
    margin-top: 20px;
}

.footer-social-icons-container >img{
    margin-right: 20px;
}
.footer-component-privacy-btn{
    text-transform: capitalize !important;
    color: white !important;
    margin-right: 20px !important;
}


@media screen and (max-width:1200px){
    .footer-component-container{
        margin-top: 30px;
        height: auto !important;
        background-size: cover;
        background-repeat: no-repeat;
        background-blend-mode: darken;
        backdrop-filter: blur(5px);
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
    
            
    }
    .footer-component-content-wrapper{
        width: 90%;
        margin: auto;
    }
    .footer-component-content-wrapper{
        width: 95%;
        margin: auto;
        height: auto;
    
    }   
    .footer-component-lower-content-container{
        background-color: #6c0740;
        padding: 8px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        width: 90%;
        margin: auto;
        color: white;
    }
    .footer-social-icons-container >img{
        margin: 20px 0px;
        margin-right: 20px;
    }
}