*{
    margin: 0;
    padding: 0;
}

.our-student-says{
    margin-top: 70px;
    background-color: #F9F9F9;
}
.our-student-says-content-wrapper{
    width: 85%;
    margin: auto;
    height: 610px;
    padding: 60px 0px;
    
}
.our-student-says-heading-container{
    padding: 2px 2px;
}
.our-student-says-heading-container >h1{
    font-size: 48px;
    font-weight: 620;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
}
.our-student-says-heading-container >p{
    font-size: 18px;
    width: 40%;
    margin: auto;
    text-align: center;
}
.our-student-says-cards-container{
    margin-top: 80px;
}
.our-student-says-card-container{
    height: 320px;
    padding: 20px;
    border: 1px solid #E0E0E0;
    background-color: white;
    border-radius: 5px;
    

}
.our-student-says-card-avatar{
    width: 77px !important;
    height: 77px !important;
}
.our-student-says-card-container >p{
    font-size: 19px;
    font-weight: 400px;
    line-height: 26px;
    width: 70%;
    margin-top: 20px;
    
}
.our-student-says-card-container >h5{
    margin-top: 60px;
    font-size: 20px;
}
.our-student-says-card-container >h6{
    margin-top: 5px;
    font-size: 14px;
    color: gray;
}

@media screen and (max-width:960px){
    .our-student-says-content-wrapper{
        width: 90%;
        margin: auto;
        height: auto;
        padding: 30px 0px;
        
    }
    .our-student-says-heading-container >p{
        font-size: 18px;
        width: 100%;
        margin: auto;
    }
    .our-student-says-card-container{
        height: auto;
        padding: 20px;
        border: 1px solid #E0E0E0;
        background-color: white;
        border-radius: 5px;
        
    
    }
}