*{
    margin: 0;
    padding: 0;
}

.content-wrapper{
    width: 85%;
    margin: auto;
}

.header-container{
    background-color: #97005E;
    padding: 20px 2px;
    color: white;
}


@media screen and (max-width:960px){

}